<!DOCTYPE html>
<html>
    <head>
        <title>Poonkuzhali's blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Poonkuzhali's Blog</a></h1>
        </header>

        <article>
            <time>published: 30.05.2022, 13:29</time>
            <h2><a href="">My first post</a></h2>
            <p>Hello! This is my first ever blog post.</p>
        </article>

        <article>
            <time>published: 30.05.2022, 13:29</time>
            <h2><a href="">My second post</a></h2>
            <p>In a minute, I'ma need a sentimental man or woman to pump me up. Feeling fussy walking in my balenciasies.... About damn time.</p>
        </article>
    </body>
</html>